<div [class.disable-container]="isDataLoading">
        <h2>SpaceX Launch Programs</h2>
    <div class="left-container">
        <h2>Filters</h2>
        <div class="filter"><label>Launch By Year</label></div>
        <hr>
        <div class="year-by-filter">
            <button type="button" class="custom-btn" *ngFor="let yearsObj of years"
                (click)="filterLaunchProgram('Y',yearsObj)"
                [class.activate-btn]="filterYear===yearsObj">{{yearsObj}}</button>
        </div>

        <div class="marTB25">
            <div class="filter"><label>Successful Launch</label></div>
            <hr>
            <div class="year-by-filter">
                <button type="button" class="custom-btn" *ngFor="let launchLandingObj of launchLanding"
                    [class.activate-btn]="filterSuccessLaunch===launchLandingObj.key"
                    (click)="filterLaunchProgram('LH',launchLandingObj.key)">{{launchLandingObj.value}}</button>
            </div>
        </div>

        <div class="filter"><label>Successful Landing</label></div>
        <hr>
        <div class="year-by-filter">
            <button type="button" class="custom-btn" *ngFor="let launchLandingObj of launchLanding"
                [class.activate-btn]="filterSuccessLanding===launchLandingObj.key"
                (click)="filterLaunchProgram('LN',launchLandingObj.key)">{{launchLandingObj.value}}</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>